<!doctype html>
<html>
	<head>

	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{resume.basics.name}} · {{resume.basics.label}}</title>
  <meta name="description" content="{{resume.basics.summary}}">

  <meta property="og:image" content="{{resume.basics.image}}">
  <meta property="og:description" content="{{resume.basics.summary}}">
  <meta property="og:title" content="{{resume.basics.name}} · {{resume.basics.label}}">
  <meta name="twitter:title" content="{{resume.basics.name}} · {{resume.basics.label}}">
  <link rel="icon" href="{{resume.basics.image}}" type="image/x-icon">

	<style type="text/css">
	{{{css}}}
	</style>

	</head>
	<body>

  <body>
    {{!------------------------- HEADER --------------------------------------}}
    <div class="Header">
      <div class="Header-item">
        <a href="#" class="Header-link f4 d-flex flex-items-center">
          <svg height="32" class="octicon octicon-mark-github mr-2" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
          <span id="myTitleFix">{{resume.basics.name}} · {{resume.basics.label}}</span>
        </a>
      </div>
    </div>

    <div class="container-xl clearfix px-3 mt-4">

      {{!------------------------- PROFILE -------------------------------------}}
      <div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope itemtype="http://schema.org/Person">
        <div class="clearfix">
          {{#if resume.basics.image}}
          <div class="float-left col-4 col-sm-4 col-md-12 pr-3 pr-md-0">
            <img
              class="avatar width-full height-full avatar-before-user-status"
              src="{{resume.basics.image}}"
              alt="{{resume.basics.name}}"
            />
          </div>
          {{/if}}
          <div class="vcard-names-container float-left col-8 col-sm-8 col-md-12 pt-1 pt-md-3 pb-1 pb-md-3">
            <h1 class="vcard-names pl-2 pl-md-0">
              <span class="p-name vcard-fullname d-block overflow-hidden">{{resume.basics.name}}</span>
              <span class="p-nickname vcard-username d-block displayDesktop">
                {{resume.basics.label}}
              </span>
              <span class="p-nickname vcard-username d-block displayMobile">
                PHP/Symfony Full Stack
              </span>
            </h1>
          </div>
        </div>

        {{#if resume.basics.email}}
        <a
          class="btn btn-block mb-2"
          role="button"
          tabindex="0"
          href="mailto:{{resume.basics.email}}"
        >
          Contact me
        </a>
        {{/if}}
        {{#findByProperty resume.basics.profiles 'network' 'LinkedIn'}}
        <aside class="btn-link text-small muted-link mb-3">
          <a
            href="{{url}}"
            class="muted-link"
            >Rejoindre mon réseau professionnel</a
          >
        </aside>
        {{/findByProperty}}

        <div class="p-note user-profile-bio">
          {{resume.basics.summary}}
        </div>

        <ul class="vcard-details mb-3">
              {{#if resume.work.length}}
              {{/if}}
              {{#if resume.basics.location}}
              <li
                itemprop="homeLocation"
                aria-label="Home location: {{resume.basics.location.city}}, {{resume.basics.location.countryCode}}"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-hidden="true"
                  class="octicon octicon-location"
                  width="12"
                  height="16"
                  viewBox="0 0 12 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"
                  />
                </svg>
                <span>{{resume.basics.location.city}}, {{resume.basics.location.countryCode}}</span>
              </li>
              {{/if}}
              {{#if resume.basics.scooter}}
              <li
                itemprop="homeLocation"
                aria-label="Home location: {{resume.basics.location.city}}, {{resume.basics.location.countryCode}}"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                
                <svg 
                  class="octicon octicon-location scooter"
                  version="1.1" 
                  id="Capa_1" 
                  xmlns="http://www.w3.org/2000/svg" 
                  xmlns:xlink="http://www.w3.org/1999/xlink" 
                  x="0px" 
                  y="0px"
	                width="18px" 
                  height="18px" 
                  viewBox="0 10 494.457 464.457" 
                  style="enable-background:new 0 0 16 16;"
	                xml:space="preserve">
                  <g>
                  <path d="M463.994,276.597c0.83-2.232,0.531-4.727-0.801-6.7c-12.385-18.357-32.975-29.317-55.084-29.317
                  c-0.586,0-1.174,0.014-1.762,0.029v-8.667c0-4.204-3.008-7.807-7.145-8.558l-14.324-2.601l-14.793-59.729
                  c-0.551-2.214-1.945-4.124-3.891-5.318l-5.086-3.126c0.77-0.502,1.521-1.028,2.24-1.601c2.072-1.65,3.279-4.154,3.279-6.804
                  v-30.707c0-0.554-0.053-1.104-0.158-1.648l-0.771-4.001c-0.412-2.13-1.604-4.031-3.344-5.327
                  c-6.635-4.942-15.295-6.933-23.434-5.361c-8.01,1.545-14.65,6.188-18.926,12.443l-42.016,4.474
                  c-7.164,0.763-12.354,7.189-11.592,14.354c0.715,6.695,6.373,11.666,12.959,11.666c0.459,0,0.928-0.024,1.396-0.075l35.552-3.785
                  c1.256,4.203,3.4,7.985,6.197,11.152c0.014,0.03,0.021,0.061,0.033,0.091c10.322,23.743,33.264,91.222,15.729,117.964
                  c-5.004,7.634-13.285,11.343-25.318,11.343h-48.647c-13.961,0-26.21-6.247-31.967-16.303c-6.205-10.835-4.744-25.234,4.195-41.802
                  c2.625-1.497,4.394-4.322,4.394-7.56v-44.355c0-4.804-3.894-8.697-8.698-8.697H82.187c-4.803,0-8.697,3.894-8.697,8.697v37.693
                  c-17.688,6.46-49.748,25.028-72.758,77.533C0.249,283.093,0,284.28,0,285.482v16.821c0,4.804,3.894,8.698,8.697,8.698H21.81
                  c1.148,31.574,27.09,56.823,58.945,56.823c31.854,0,57.797-25.249,58.941-56.823h204.503c1.146,31.574,27.09,56.823,58.943,56.823
                  c32.584,0,58.998-26.414,58.998-58.998c0-9.643-2.328-18.733-6.428-26.771l3.305-0.904
                  C461.314,280.525,463.168,278.829,463.994,276.597z M102.228,227.229h37.333c2.763,0,5,2.239,5,5s-2.237,5-5,5h-37.333
                  c-2.762,0-5-2.239-5-5S99.466,227.229,102.228,227.229z M80.755,331.706c-11.881,0-21.674-9.104-22.771-20.702h45.541
                  C102.426,322.601,92.636,331.706,80.755,331.706z M139.561,273.563h-37.333c-2.762,0-5-2.238-5-5c0-2.761,2.238-5,5-5h37.333
                  c2.763,0,5,2.239,5,5C144.561,271.325,142.324,273.563,139.561,273.563z M156.395,255.396h-71c-2.762,0-5-2.239-5-5s2.238-5,5-5h71
                  c2.762,0,5,2.239,5,5S159.157,255.396,156.395,255.396z M403.145,331.706c-12.615,0-22.877-10.263-22.877-22.877
                  c0-2.214,0.322-4.353,0.91-6.377l37.611-10.291c4.445,4.177,7.23,10.102,7.23,16.668
                  C426.021,321.443,415.758,331.706,403.145,331.706z"/>
                  </g>
                </svg>
                <span>Scooter</span>
              </li>
              {{/if}}
              {{#if resume.basics.url}}
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link php"
                  viewBox="0 -2 100 50"
                  {{!-- color="#4d5052" --}}
                  {{!-- width="16"
                  height="16" --}}
                >
	                <path d="m7.579 10.123 14.204 0c4.169 0.035 7.19 1.237 9.063 3.604 1.873 2.367 2.491 5.6 1.855 9.699-0.247 1.873-0.795 3.71-1.643 5.512-0.813 1.802-1.943 3.427-3.392 4.876-1.767 1.837-3.657 3.003-5.671 3.498-2.014 0.495-4.099 0.742-6.254 0.742l-6.36 0-2.014 10.07-7.367 0 7.579-38.001 0 0m6.201 6.042-3.18 15.9c0.212 0.035 0.424 0.053 0.636 0.053 0.247 0 0.495 0 0.742 0 3.392 0.035 6.219-0.3 8.48-1.007 2.261-0.742 3.781-3.321 4.558-7.738 0.636-3.71 0-5.848-1.908-6.413-1.873-0.565-4.222-0.83-7.049-0.795-0.424 0.035-0.83 0.053-1.219 0.053-0.353 0-0.724 0-1.113 0l0.053-0.053"/>
	                <path d="m41.093 0 7.314 0-2.067 10.123 6.572 0c3.604 0.071 6.289 0.813 8.056 2.226 1.802 1.413 2.332 4.099 1.59 8.056l-3.551 17.649-7.42 0 3.392-16.854c0.353-1.767 0.247-3.021-0.318-3.763-0.565-0.742-1.784-1.113-3.657-1.113l-5.883-0.053-4.346 21.783-7.314 0 7.632-38.054 0 0"/>
                  <path d="m70.412 10.123 14.204 0c4.169 0.035 7.19 1.237 9.063 3.604 1.873 2.367 2.491 5.6 1.855 9.699-0.247 1.873-0.795 3.71-1.643 5.512-0.813 1.802-1.943 3.427-3.392 4.876-1.767 1.837-3.657 3.003-5.671 3.498-2.014 0.495-4.099 0.742-6.254 0.742l-6.36 0-2.014 10.07-7.367 0 7.579-38.001 0 0m6.201 6.042-3.18 15.9c0.212 0.035 0.424 0.053 0.636 0.053 0.247 0 0.495 0 0.742 0 3.392 0.035 6.219-0.3 8.48-1.007 2.261-0.742 3.781-3.321 4.558-7.738 0.636-3.71 0-5.848-1.908-6.413-1.873-0.565-4.222-0.83-7.049-0.795-0.424 0.035-0.83 0.053-1.219 0.053-0.353 0-0.724 0-1.113 0l0.053-0.053"/>
                </svg>
                <a rel="nofollow me" href="https://{{resume.basics.url}}">
                  {{resume.basics.url}}
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link symfony"
                  width="16"
                  height="16"
                  viewBox="0 0 256 257"
                >
                  <g>
                    <circle fill="#1A171B" cx="128" cy="128.827077" r="128"></circle>
                    <path d="M183.7056,48.1240615 C170.720492,48.5769846 159.3856,55.7331692 150.949415,65.6344615 C141.607385,76.4888615 135.392492,89.3636923 130.914462,102.506338 C122.903631,95.9409231 116.724185,87.4417231 103.872985,83.7356308 C93.9401846,80.8841846 83.5072,82.0617846 73.9131077,89.2100923 C69.3681231,92.6050462 66.2370462,97.7368615 64.7483077,102.561477 C60.8925538,115.0976 68.8009846,126.255262 72.3928615,130.260677 L80.2461538,138.677169 C81.8648615,140.327385 85.7639385,144.632123 83.8577231,150.803692 C81.7979077,157.514831 73.7083077,161.858954 65.4099692,159.298954 C61.7038769,158.168615 56.3790769,155.407754 57.5724308,151.520492 C58.0647385,149.929354 59.2029538,148.739938 59.8134154,147.365415 C60.3726769,146.183877 60.6404923,145.297723 60.8098462,144.777846 C62.3261538,139.8272 60.2545231,133.387815 54.9533538,131.753354 C50.0066462,130.237046 44.9457231,131.438277 42.9843692,137.806769 C40.7591385,145.041723 44.2210462,158.172554 62.7672615,163.8912 C84.4957538,170.566892 102.876554,158.735754 105.483815,143.304862 C107.126154,133.639877 102.762338,126.460062 94.7672615,117.224369 L88.2530462,110.020923 C84.3067077,106.078523 82.9518769,99.3595077 87.0360615,94.1961846 C90.4822154,89.8402462 95.3895385,87.9812923 103.427938,90.1671385 C115.160615,93.3533538 120.390892,101.494154 129.118523,108.059569 C125.514831,119.878892 123.159631,131.741538 121.028923,142.379323 L119.729231,150.311385 C113.490708,183.032123 108.729108,200.999385 96.3544615,211.314215 C93.8614154,213.086523 90.2971077,215.741046 84.9250462,215.926154 C82.1090462,216.0128 81.1992615,214.075077 81.1598769,213.232246 C81.0929231,211.255138 82.7588923,210.349292 83.8656,209.4592 C85.5197538,208.557292 88.0206769,207.060677 87.8513231,202.267569 C87.6701538,196.604062 82.9794462,191.6928 76.1974154,191.917292 C71.1168,192.090585 63.3737846,196.871877 63.6652308,205.623138 C63.9684923,214.661908 72.3928615,221.436062 85.0944,221.006769 C91.8843077,220.7744 107.047385,218.0096 121.989908,200.247138 C139.382154,179.885292 144.246154,156.542031 147.904985,139.456985 L151.989169,116.901415 C154.257723,117.173169 156.683815,117.354338 159.322585,117.417354 C180.984123,117.874215 191.818831,106.653538 191.980308,98.4930462 C192.086646,93.5542154 188.738954,88.6941538 184.052185,88.8044308 C180.696615,88.8989538 176.482462,91.1320615 175.470277,95.7715692 C174.481723,100.324431 182.362585,104.432246 176.202831,108.421908 C171.8272,111.253662 163.981785,113.250462 152.9344,111.627815 L154.943015,100.525292 C159.042954,79.4702769 164.099938,53.5709538 183.284185,52.9408 C184.682338,52.8699077 189.7984,53.0038154 189.916554,56.3869538 C189.952,57.5172923 189.672369,57.8048 188.349046,60.3923692 C187.002092,62.4088615 186.494031,64.1260308 186.557046,66.0992 C186.742154,71.4752 190.830277,75.008 196.741908,74.7953231 C204.658215,74.5393231 206.934646,66.8317538 206.804677,62.8736 C206.485662,53.5748923 196.682831,47.6987077 183.7056,48.1240615 L183.7056,48.1240615 Z" fill="#FFFFFF"></path>
                  </g>
                </svg>
                <a rel="nofollow me" href="https://rentacomic.ovh/">
                  Symfony
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link react"
                  width="16"
                  height="16"
                  viewBox="0 0 3618.6 3618.6"
                >
                <style>.st0{fill:#222}.st1{fill:#00d8ff}.st2{fill:none;stroke:#00d8ff;stroke-width:144.7456;stroke-miterlimit:10}</style><path class="st0" d="M0 0h3618.6v3618.6H0z"/><circle class="st1" cx="1806.5" cy="1807.1" r="302.6"/><path class="st2" d="M1806.5 1191.9c406.2 0 783.6 58.3 1068.1 156.2 342.8 118 553.6 296.9 553.6 458.9 0 168.8-223.4 358.9-591.5 480.8-278.3 92.2-644.6 140.4-1030.2 140.4-395.4 0-769.7-45.2-1051.2-141.4-356.1-121.7-570.6-314.2-570.6-479.8 0-160.7 201.3-338.2 539.3-456 285.6-99.5 672.3-159.1 1082.5-159.1z"/><path class="st2" d="M1271 1501.3c202.9-351.9 442-649.7 669-847.2 273.5-238 533.8-331.2 674.1-250.3 146.2 84.3 199.3 372.8 121 752.7-59.2 287.2-200.4 628.5-393.1 962.6-197.5 342.5-423.7 644.2-647.6 840-283.3 247.7-557.3 337.3-700.7 254.6-139.2-80.3-192.4-343.3-125.7-695 56.4-297.4 198-662.1 403-1017.4z"/><path class="st2" d="M1271.5 2119.8c-203.5-351.6-342.1-707.4-399.9-1002.7-69.6-355.8-20.4-627.9 119.8-709 146.1-84.6 422.5 13.5 712.5 271 219.3 194.7 444.4 487.5 637.6 821.3 198.1 342.2 346.6 688.8 404.3 980.5 73.1 369.2 13.9 651.3-129.4 734.2-139.1 80.5-393.5-4.7-664.9-238.2-229.2-197.3-474.5-502.1-680-857.1z"/></svg>
                <a rel="nofollow me" href="https://jean-phil.gitlab.io/react/">
                  React
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link vue"
                  width="16"
                  height="16"
                  viewBox="0 -20 261.76 226.69"
                >
                <g transform="matrix(1.3333 0 0 -1.3333 -76.311 313.34)"><g transform="translate(178.06 235.01)"><path d="m0 0-22.669-39.264-22.669 39.264h-75.491l98.16-170.02 98.16 170.02z" fill="#41b883"/></g><g transform="translate(178.06 235.01)"><path d="m0 0-22.669-39.264-22.669 39.264h-36.227l58.896-102.01 58.896 102.01z" fill="#34495e"/></g></g>
                  {{!-- <path
                    fill-rule="evenodd"
                    d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"
                  /> --}}
                </svg>
                <a rel="nofollow me" href="https://jean-phil.gitlab.io/my-vuejs-project/">
                  Vue
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <?xml version="1.0" encoding="UTF-8"?>
                <svg
                  aria-label="true"
                  class="octicon octicon-link react"
                  width="16px"
                  height="16px"
                  viewBox="0 0 256 256"
                  version="1.1" 
                  xmlns="http://www.w3.org/2000/svg" 
                  xmlns:xlink="http://www.w3.org/1999/xlink" 
                  preserveAspectRatio="xMidYMid"
                >
                <title>Next.js</title>
                <defs>
                    <circle id="path-1" cx="128" cy="128" r="128"></circle>
                    <linearGradient x1="55.6325605%" y1="56.3850422%" x2="83.2279093%" y2="96.0801119%" id="nextjsLinearGradient-3">
                        <stop stop-color="#FFFFFF" offset="0%"></stop>
                        <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient x1="50%" y1="0%" x2="49.9534722%" y2="73.4375%" id="nextjsLinearGradient-4">
                        <stop stop-color="#FFFFFF" offset="0%"></stop>
                        <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g>
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g mask="url(#mask-2)">
                        <circle fill="#000000" cx="128" cy="128" r="128"></circle>
                        <path d="M212.6336,224.028444 L98.3352889,76.8 L76.8,76.8 L76.8,179.157333 L94.0282311,179.157333 L94.0282311,98.6788978 L199.109689,234.446222 C203.851378,231.273244 208.368356,227.790222 212.6336,224.028444 Z" fill="url(#nextjsLinearGradient-3)"></path>
                        <rect fill="url(#nextjsLinearGradient-4)" x="163.555556" y="76.8" width="17.0666667" height="102.4"></rect>
                    </g>
                </g>
                </svg>
                <a rel="nofollow me" href="https://jp-parmentier-next.vercel.app/">
                  Next
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link gitlab"
                  width="16"
                  height="16"
                  viewBox="0 0 900 900"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M504.908 750H839.476C850.103 750.001 860.542 747.229 869.745 741.963C878.948 736.696 886.589 729.121 891.9 719.999C897.211 710.876 900.005 700.529 900 689.997C899.995 679.465 897.193 669.12 891.873 660.002L667.187 274.289C661.876 265.169 654.237 257.595 645.036 252.329C635.835 247.064 625.398 244.291 614.773 244.291C604.149 244.291 593.711 247.064 584.511 252.329C575.31 257.595 567.67 265.169 562.36 274.289L504.908 372.979L392.581 179.993C387.266 170.874 379.623 163.301 370.42 158.036C361.216 152.772 350.777 150 340.151 150C329.525 150 319.086 152.772 309.883 158.036C300.679 163.301 293.036 170.874 287.721 179.993L8.12649 660.002C2.80743 669.12 0.00462935 679.465 5.72978e-06 689.997C-0.00461789 700.529 2.78909 710.876 8.10015 719.999C13.4112 729.121 21.0523 736.696 30.255 741.963C39.4576 747.229 49.8973 750.001 60.524 750H270.538C353.748 750 415.112 713.775 457.336 643.101L559.849 467.145L614.757 372.979L779.547 655.834H559.849L504.908 750ZM267.114 655.737L120.551 655.704L340.249 278.586L449.87 467.145L376.474 593.175C348.433 639.03 316.577 655.737 267.114 655.737Z" fill="#00DC82"/>
                </svg>
                <a rel="nofollow me" href="https://jean-phil.gitlab.io/nuxt/">
                  Nuxt
                </a>
              </li>
              <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link gitlab"
                  width="16"
                  height="16"
                  viewBox="70 60 240 240"
                >
                  <defs><style>.cls-1{fill:#e24329;}.cls-2{fill:#fc6d26;}.cls-3{fill:#fca326;}</style></defs><g id="LOGO"><path class="cls-1" d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"/><path class="cls-2" d="M282.83,170.73l-.27-.69a88.3,88.3,0,0,0-35.15,15.8L190,229.25c19.55,14.79,36.57,27.64,36.57,27.64l40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"/><path class="cls-3" d="M153.43,256.89l19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91S209.55,244,190,229.25C170.45,244,153.43,256.89,153.43,256.89Z"/><path class="cls-2" d="M132.58,185.84A88.19,88.19,0,0,0,97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82s17-12.85,36.57-27.64Z"/></g></svg>
                </svg>
                <a rel="nofollow me" href="https://gitlab.com/users/Jean-Phil/projects">
                  gitlab.com/jean-phil
                </a>
              </li>
              {{!-- <li
                itemprop="url"
                class="vcard-detail pt-1 css-truncate css-truncate-target"
              >
                <svg
                  aria-label="true"
                  class="octicon octicon-link cv"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"
                  />
                </svg>
                <a rel="nofollow me" href="https://jean-phil.gitlab.io/cv-v1/">
                  jean-phil.gitlab.io/cv-v1
                </a>
              </li> --}}
              {{/if}}
            </ul>

        {{#if resume.basics.profiles.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Où me retrouver</h2>
            {{#each resume.basics.profiles}}
            <a
              class="State mt-1"
              rel="nofollow"
              href="{{url}}"
            >
              {{network}}
            </a>
            {{/each}}
          </div>
        </div>
        {{/if}}

        {{#if resume.skills.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Compétences</h2>
            {{#each resume.skills}}
            <span
              class="State tooltipped tooltipped-s mt-1"
              aria-label="{{level}} in {{#each keywords}}{{#if @index}}, {{/if}}{{this}}{{/each}}"
              style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"
            >
              {{name}}
            </span>
            {{/each}}
          </div>
        </div>
        {{/if}}

        {{#if resume.languages.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Langues</h2>
            {{#each resume.languages}}
            <span
              class="State tooltipped tooltipped-s mt-1"
              aria-label="{{fluency}}"
              style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"
            >
              {{language}}
            </span>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>

      <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
        <nav class="UnderlineNav">
          <div class="UnderlineNav-body">
            <a href="#" title="Aperçu" class="UnderlineNav-item selected"
              >Aperçu</a
            >
            <a
              href="#experiences"
              title="Expériences"
              class="UnderlineNav-item"
              >Expériences
              <span class="Counter">{{experiencesCount resume}}</span>
            </a>
            <a href="#writing" title="Articles" class="UnderlineNav-item"
              >Articles
              <span class="Counter">{{resume.publications.length}}</span>
            </a>
          </div>
        </nav>

        {{#pinnedExperiences resume}}
          <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
            <div class="Box pinned-item-list-item d-flex p-3 width-full pinned-item-list-item-content">
              <div class="d-flex width-full flex-items-center position-relative">
                {{#isPropEqual this 'tag' 'Work'}}
                <svg width="14" height="16" class="octicon octicon-briefcase mr-2 text-gray flex-shrink-0" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 4V3c0-.55-.45-1-1-1H6c-.55 0-1 .45-1 1v1H1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H9zM6 3h2v1H6V3zm7 6H8v1H6V9H1V5h1v3h10V5h1v4z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Award'}}
                <svg width="10" height="16" class="octicon octicon-bookmark mr-2 text-gray flex-shrink-0" viewBox="0 0 10 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Project'}}
                <svg width="16" height="16" class="octicon octicon-beaker mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M14.38 14.59L11 7V3h1V2H3v1h1v4L.63 14.59A1 1 0 001.54 16h11.94c.72 0 1.2-.75.91-1.41h-.01zM3.75 10L5 7V3h5v4l1.25 3h-7.5zM8 8h1v1H8V8zM7 7H6V6h1v1zm0-3h1v1H7V4zm0-3H6V0h1v1z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Education'}}
                <svg width="16" height="16" class="octicon octicon-mortar-board mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8.11 2.8a.34.34 0 00-.2 0L.27 5.18a.35.35 0 000 .67L2 6.4v1.77c-.3.17-.5.5-.5.86 0 .19.05.36.14.5-.08.14-.14.31-.14.5v2.58c0 .55 2 .55 2 0v-2.58c0-.19-.05-.36-.14-.5.08-.14.14-.31.14-.5 0-.38-.2-.69-.5-.86V6.72l4.89 1.53c.06.02.14.02.2 0l7.64-2.38a.35.35 0 000-.67L8.1 2.81l.01-.01zM4 8l3.83 1.19h-.02c.13.03.25.03.36 0L12 8v2.5c0 1-1.8 1.5-4 1.5s-4-.5-4-1.5V8zm3.02-2.5c0 .28.45.5 1 .5s1-.22 1-.5-.45-.5-1-.5-1 .22-1 .5z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                <svg width="12" height="16" class="octicon octicon-heart mr-2 text-gray flex-shrink-0" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path></svg>
                {{else}}
                {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
                <a class="text-bold flex-auto min-width-0" rel="nofollow" href="{{url}}">{{name}}</a>
              </div>
              <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                {{summary}}
              </p>
              <p class="mb-0 f6 text-gray">
                <span class="d-inline-block mr-3">
                  <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                  <small class="f6 text-gray">{{tag}}</small>
                </span>
                {{#if org}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="organization"
                    class="octicon octicon-organization"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    role="img"
                    style="min-width: 16px"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"
                    />
                  </svg>
                  {{org}}
                </span>
                {{/if}}
                {{#if date}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="calendar"
                    class="octicon octicon-calendar"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    role="img"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"
                    />
                  </svg>
                  {{date}}
                </span>
                {{/if}}
              </p>
            </div>
          </li>
        {{/pinnedExperiences}}

        {{#pinnedWritings resume}}
          <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
            <div class="Box pinned-item-list-item d-flex p-3 width-full pinned-item-list-item-content">
              <div class="d-flex width-full flex-items-center position-relative">
                <a class="text-bold flex-auto min-width-0" rel="nofollow" href="{{url}}">{{name}}</a>
              </div>
              <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                {{summary}}
              </p>
              <p class="mb-0 f6 text-gray">
                <span class="d-inline-block mr-3">
                  <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                  <small class="f6 text-gray">{{tag}}</small>
                </span>
                {{#if org}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="organization"
                    class="octicon octicon-organization"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    role="img"
                    style="min-width: 16px"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"
                    />
                  </svg>
                  {{org}}
                </span>
                {{/if}}
                {{#if date}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="calendar"
                    class="octicon octicon-calendar"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    role="img"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"
                    />
                  </svg>
                  {{date}}
                </span>
                {{/if}}
              </p>
            </div>
          </li>
        {{/pinnedWritings}}

        {{#experiencesByMonth resume}}
          <div class="discussion-timeline width-full pb-4">
            <h3 class="profile-timeline-month-heading bg-white d-inline-block h6 pr-2 py-1">
              {{@month}} <span class="text-gray">{{@year}}</span>
            </h3>

            {{#each this}}
            <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details ">
              <span class="discussion-item-icon">
                {{#isPropEqual this 'tag' 'Work'}}
                <svg width="14" height="16" class="octicon octicon-briefcase" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 4V3c0-.55-.45-1-1-1H6c-.55 0-1 .45-1 1v1H1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H9zM6 3h2v1H6V3zm7 6H8v1H6V9H1V5h1v3h10V5h1v4z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Award'}}
                <svg width="10" height="16" class="octicon octicon-bookmark" viewBox="0 0 10 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Project'}}
                <svg width="16" height="16" class="octicon octicon-beaker" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M14.38 14.59L11 7V3h1V2H3v1h1v4L.63 14.59A1 1 0 001.54 16h11.94c.72 0 1.2-.75.91-1.41h-.01zM3.75 10L5 7V3h5v4l1.25 3h-7.5zM8 8h1v1H8V8zM7 7H6V6h1v1zm0-3h1v1H7V4zm0-3H6V0h1v1z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Education'}}
                <svg width="16" height="16" class="octicon octicon-mortar-board" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8.11 2.8a.34.34 0 00-.2 0L.27 5.18a.35.35 0 000 .67L2 6.4v1.77c-.3.17-.5.5-.5.86 0 .19.05.36.14.5-.08.14-.14.31-.14.5v2.58c0 .55 2 .55 2 0v-2.58c0-.19-.05-.36-.14-.5.08-.14.14-.31.14-.5 0-.38-.2-.69-.5-.86V6.72l4.89 1.53c.06.02.14.02.2 0l7.64-2.38a.35.35 0 000-.67L8.1 2.81l.01-.01zM4 8l3.83 1.19h-.02c.13.03.25.03.36 0L12 8v2.5c0 1-1.8 1.5-4 1.5s-4-.5-4-1.5V8zm3.02-2.5c0 .28.45.5 1 .5s1-.22 1-.5-.45-.5-1-.5-1 .22-1 .5z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                <svg width="12" height="16" class="octicon octicon-heart" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path></svg>
                {{else}}
                {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
              </span>
              <div class="d-flex flex-justify-between flex-items-baseline mb-3">
                <h4 class="text-normal text-gray lh-condensed my-0 pr-3">
                  {{#isPropEqual this 'tag' 'Work'}}
                  {{#if org}}A rejoint {{org}}{{else}}Started 1 job{{/if}}
                  {{else}}{{#isPropEqual this 'tag' 'Award'}}
                  Earned 1 award
                  {{else}}{{#isPropEqual this 'tag' 'Project'}}
                  A comencé un projet
                  {{else}}{{#isPropEqual this 'tag' 'Education'}}
                  A terminé une formation {{#if org}} {{org}}{{/if}}
                  {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                  Volunteered
                  {{else}}
                  {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
                </h4>
              </div>
              {{#if highlights}}
              <div class="profile-timeline-card bg-white border border-gray-dark rounded-1 p-3">
                <svg class="octicon octicon-git-merge merged d-inline-block mt-1 float-left" title="Merged" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M10 7c-.73 0-1.38.41-1.73 1.02V8C7.22 7.98 6 7.64 5.14 6.98c-.75-.58-1.5-1.61-1.89-2.44A1.993 1.993 0 002 .99C.89.99 0 1.89 0 3a2 2 0 001 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2a1.993 1.993 0 001-3.72V7.67c.67.7 1.44 1.27 2.3 1.69.86.42 2.03.63 2.97.64v-.02c.36.61 1 1.02 1.73 1.02 1.11 0 2-.89 2-2 0-1.11-.89-2-2-2zm-6.8 6c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm8 6c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                <div class="ml-4">
                  <h3 class="lh-condensed my-0">
                    <a class="text-gray-dark " href="{{url}}">{{name}}</a>
                  </h3>

                    <div class="text-gray mb-0 mt-2 ">
                      <p>{{summary}}</p>
                    </div>

                  <div class="f6 text-gray mt-2">
                    {{#each highlights}}
                    <p>
                      <span class="repo-language-color" style="background-color: {{randomColor}}"></span>
                      <small class="f6 text-gray">{{this}}</small>
                    </p>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{else}}
              <ul class="profile-rollup-content mt-1">
                <li class="d-block mt-1 py-1">
                  <span class="css-truncate css-truncate-target{{#if summary}} tooltipped tooltipped-se  tooltipped-multiline{{/if}}"{{#if summary}} aria-label="{{summary}}"{{/if}}>
                    <span class="profile-rollup-icon">
                      <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                    </span>
                    <a class="mr-2 " href="{{url}}">{{name}}</a>
                  </span>
                  <span class="f6 text-gray d-block mt-1 d-lg-inline mt-lg-0">
                  </span>
                </li>
              </ul>
              {{#isPropEqual this 'tag' 'Education'}}
                      {{#if this.details}}
                        <div class="f6 text-gray mt-2 div-edu">
                          {{#each this.courses}}
                          <p>
                            <span class="repo-language-color" style="background-color: {{randomColor}}"></span>
                            <small class="f6 text-gray">{{this}}</small>
                          </p>
                          {{/each}}
                        </div>
                      {{/if}}
              {{/isPropEqual}}
              {{/if}}
            </div>
            {{/each}}
          </div>
        {{/experiencesByMonth}}
      </div>
    </div>


	</body>
</html>
