@import "@primer/css/core/index.scss";
@import "@primer/css/product/index.scss";

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.v-align-middle {
  vertical-align: middle !important;
}

.vcard-fullname {
  font-size: 26px;
  line-height: 30px;
}

.vcard-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.user-profile-bio {
  overflow: hidden;
  font-size: 14px;
}

.vcard-detail {
  padding-left: 22px;
  font-size: 14px;
}

.vcard-details .css-truncate.css-truncate-target {
  width: 100%;
  max-width: 100%;
}

.vcard-detail .octicon {
  float: left;
  width: 16px;
  margin-top: 3px;
  margin-left: -22px;
  color: #6a737d;
  text-align: center;
}

body > .footer:not(:hover) {
  opacity: 0.3;
}

body > .footer {
  transition: opacity 0.2s ease 0s;
}

.pinned-item-list-item-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 1px;
}

.pinned-item-meta + .pinned-item-meta {
  margin-left: 16px;
}

.pinned-item-desc {
  flex: 1 0 auto;
}

.discussion-timeline {
  position: relative;
}

.discussion-timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #eaecef;
}

.discussion-timeline .profile-timeline-month-heading:after {
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 1px;
  content: "";
  background-color: #eaecef;
}

.discussion-item-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: -5px;
  margin-left: -40px;
  line-height: 30px;
  color: #24292e;
  text-align: center;
  background-color: #e1e4e8;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile-rollup-wrapper .css-truncate-target {
  max-width: 85%;
  overflow: visible;
}

.div-edu {
  margin-left: 41px;
  margin-top: 6px;
}

.scooter {
  width:19px !important;
}

.php {
  width:20px !important;
  color: #4d5052!important;
  background-repeat: no-repeat;
  margin-top: 7px!important;
}
.displayMobile{
  display: none!important;
}

@media only screen and (max-width : 720px) {
  #myTitleFix {
    width: 326px;
    overflow: hidden;
  }
  .pr-3 {
    padding-right: 0px!important;
  }
  .scooter{
    margin-top: 2px!important;
  }
  .php {
    margin-top: 4px!important;
    height: 14px!important;
  }
}

@media only screen and (max-width : 393px) {
  #myTitleFix {
    width: 290px;
    overflow: hidden;
  }
  .pr-3 {
    padding-right: 0px!important;
  }
  .displayDesktop{
    display: none!important;
  }
  .displayMobile{
    display: inherit!important;
  }
  .scooter{
    margin-top: 2px!important;
  }
  .php {
    margin-top: 4px!important;
    height: 14px!important;
  }
}